*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
.generate{
    display: flex;
    align-items: center;
    flex-direction: column;
  padding-top: 100px;
}
.generate__row{
    margin-bottom: 20px;
    margin-top: 10px;
}
.generator__generate{
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
}
.generate__password{
    font-size: 40px;
}
label{
font-size: large;
}
.copy__password{
    display: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}